// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #52796f;
	--ion-color-primary-rgb: 82,121,111;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #486a62;
	--ion-color-primary-tint: #63867d;

	--ion-color-secondary: #354f52;
	--ion-color-secondary-rgb: 53,79,82;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #2f4648;
	--ion-color-secondary-tint: #496163;

	--ion-color-tertiary: #2f3e46;
	--ion-color-tertiary-rgb: 47,62,70;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #29373e;
	--ion-color-tertiary-tint: #445159;

	--ion-color-success: #84a98c;
	--ion-color-success-rgb: 132,169,140;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #74957b;
	--ion-color-success-tint: #90b298;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;


	// Font Family
	--ion-font-family: 'Montserrat';

	// Modo claro:
	--ion-background-color: #ffffff;
  	--ion-text-color: #000000;

}

// Modo oscuro
:root.dark {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;
}

.alert-guardar .alert-wrapper {
--background: #4caf50; /* verde medio */
--color: #fff;         /* texto blanco */
--header-color: #fff;  /* color del título */
--message-color: #e8f5e9; /* color del mensaje */
}


// /* 1. Definimos un "grupo" de estilos reutilizable (mixin) */
@mixin dark-theme-variables {
  --ion-color-primary: #52796f;
  --ion-color-primary-rgb: 82,121,111;
  --ion-color-primary-contrast: #ffffff;
  
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;

}

/* 2. Lo aplicamos para detección automática (Sistema) */
@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme-variables;
  }
}

/* 3. Lo aplicamos para activación manual (Clase .dark) */
body.dark {
  @include dark-theme-variables;
}