<ion-list>
  <ion-item>
    <ion-input
      label="Título"
      label-placement="floating"
      placeholder="Título de la carrera"
      [(ngModel)]="nuevaCarrera.titulo">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Dificultad</ion-label>
    <ion-select [(ngModel)]="nuevaCarrera.dificultad" interface="popover">
      <ion-select-option value="Muy Alta">Muy Alta</ion-select-option>
      <ion-select-option value="Alta">Alta</ion-select-option>
      <ion-select-option value="Intermedia">Intermedia</ion-select-option>
      <ion-select-option value="Moderada">Moderada</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input
      label="Descripción"
      label-placement="floating"
      [(ngModel)]="nuevaCarrera.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Fecha"
      label-placement="floating"
      [(ngModel)]="nuevaCarrera.fecha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Ubicación"
      label-placement="floating"
      [(ngModel)]="nuevaCarrera.ubicacion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="number"
      label="Distancia (km)"
      label-placement="floating"
      [(ngModel)]="nuevaCarrera.distanciaKm"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="number"
      label="Desnivel (+m)"
      label-placement="floating"
      [(ngModel)]="nuevaCarrera.desnivelPositivo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="URL Imagen"
      label-placement="floating"
      [(ngModel)]="nuevaCarrera.imagenUrl"></ion-input>
  </ion-item>
</ion-list>

<ion-button expand="block" color="success" (click)="guardar()" class="ion-margin">
  {{ carreraParaEditar ? 'Actualizar Cambios' : 'Registrar Carrera' }}
</ion-button>

<ion-button expand="block" fill="clear" color="medium" (click)="cancelar()">
  Cancelar
</ion-button>